.container2{
  width: 90%;
  display: grid;
  gap: 20px;
  grid-template-columns: 30% 60%;
  margin: auto;
  margin-top: 50px;
}
.answer-select{
  margin-top: 7px;
  width: 100%;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #00000033;
  margin-bottom: 20px;
}
.questions-table{
  width: 100%;
  border-radius: 5px;
  padding: 10px;
}
.questions-table,th,td{
  border: 2px solid #565151cb;
  border-collapse: collapse;
}
td{
  text-align: center;
}
.add-btn{
  background-color: rgb(75, 75, 142);
  color: aliceblue;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
}
.add-btn:hover{
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
}